/*
Cores
Estilos comuns - placeholders e mixins
Normlize
Estilo padrão
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

/***************************************************
********************** HEADER **********************
****************************************************/

.header {
    padding: 4% 6% 2%;
    width: 100%;
    height: 10vh;
    background-color: #fefefe;
    display: flex;
    justify-content: space-between;
}

.header__logo {
    display: flex;
    align-items: center;
    font-size: 1.6rem;
    text-decoration: none;
}

.header__icon {
    width: 2.2rem;
    margin-right: .4rem;
    margin-top: -8px;
}

.header__name {
    color: orange;
    font-family: 'Kumar One', cursive;
}

.header__navigation {
    display: flex;
    align-items: center;
}

.header__open-menu, .header__close-menu {
    font-size: 2rem;
    font-weight: 900;
    color: #505050;
}

.header__navigation-menu {
    list-style: none;
    z-index: 99;
    position: fixed;
    top: 0;
    right: -80vw;
    width: 80vw;
    height: 100%;
    background-color: #FFF;
    transition: right 0.3s ease-out;
}

.active-menu {
    right: 0;
}

.active-menu::before {
    content: "";
    position: absolute;
    top: 0;
    right: 80vw;
    height: 100vh;
    width: 20vw;
    background: rgba(0, 0, 0, .6);
}

.header__menu-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5% 10%;
}

.header__menu-list {
    list-style: none;
    font-size: 1em;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header__menu-item {
    list-style: none;
    display: block;
    width: 100%;
    text-align: left;
}

.header__menu-link {
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    font-weight: 500;
    padding: 5% 10%;
    width: 100%;
    display: block;
}

.active-link {
    color: #FDDA36;
}

/****************************************************
*********************** BANNER **********************
*****************************************************/

.banner {
    background: linear-gradient(295.68deg, #98252C -11.63%, #FF990D 62.37%, #FDDA36 99.32%);
    width: 100%;
    height: 40vh;
    padding: 6%;
}

.banner__title {
    color: white;
    text-align: center;
    font-weight: 500;
    margin-bottom: 2rem;
}

.banner__text {
    color: #F0F0F0;
    margin: 0 auto 2rem;
    text-align: center;
    line-height: 1.5;
    width: 80%;
}

.banner__btn {
    width: 60%;
    padding: 4%;
    background-color: #98252C;
    color: white;
    border: none;
    border-radius: 5px;
    text-transform: uppercase;
    display: block;
    margin: 0 auto;
}

/****************************************************
*********************** SEARCH **********************
*****************************************************/

.search {
    background: #F7F7F7;
    padding: 6%;
}

.search__title {
    text-align: center;
    font-weight: 500;
    margin-bottom: 1.5rem;
}

.search__text {
    margin-bottom: 1.5rem;
    text-align: center;
    line-height: 1.2;
}

.search__params {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.5rem;
}

.search__input {
    background: #E4E4E4;
    padding: .8rem 1rem .8rem 2rem;
    border: none;
    width: 80%;
    border-radius: 5px;
    color: #484848;
}

.search__filter {
    background: #E4E4E4;
    padding: .8rem 1rem;
    border-radius: 5px;
    color: #505050;
}
/*
.results {
    useless
}
*/
.results__list {
    list-style: none;
    display: flex;
    flex-direction: column;
}

.results__list-item {
    width: 100%;
    height: auto;
    box-shadow: 0 0 5px rgba(0, 0, 0, .2);
    margin-bottom: 1rem;
    background: white;
    border-radius: 5px;
}

.results__item-link {
    text-decoration: none;
}

.results__item-image {
    width: 100%;
    height: 10rem;
    border-radius: 5px 5px 0 0;
    object-fit: cover;
}

.results__item-description {
    padding: 3% 4%;
    color: black;
}

.results__item-description-head {
    font-weight: 500;
    margin-bottom: .5rem;
}

.results__item-description-body {
    color: #636363;
    margin-bottom: .5rem;
}

.results__item-description-head, .results__item-description-body {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.results__item-title {
    max-width: 80%;
}
/*
.results__item-price {
    useless
}

.results__item-author {
    useless
}

.results__item-expiration {
    useless
}
*/
.search__btn {
    width: 60%;
    padding: 4%;
    background-color: #98252C;
    color: white;
    border: none;
    border-radius: 5px;
    text-transform: uppercase;
    display: block;
    margin: 1.2rem auto;
}

/***************************************************
********************** FOOTER **********************
****************************************************/

.footer {
    background: #2B2A33;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: .9rem;
    height: 10vh;
}











.entrar {
    background: #F7F7F7;
    padding: 15% 5%;
    height: 90vh;
}
.entrar__title {
    font-weight: 500;
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 2rem;
}
.entrar__form {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}/*
.entrar__label {
    useless
}*/
.entrar__input {
    background: #E4E4E4;
    color: #484848;
    padding: .8rem 1rem;
    width: 100%;
    border: none;
    border-radius: 5px;
    margin: .5rem 0;
}
.entrar__nova-senha {
    margin-top: .5rem;
    color: gray;
    margin-bottom: 2rem;
    font-size: .9rem;
}
.entrar__cta {
    padding: 4%;
    background-color: #98252C;
    color: white;
    border: none;
    border-radius: 5px;
    text-transform: uppercase;
    display: block;
    margin: .6rem 0;
}
.entrar__secondary {
    padding: 4%;
    background-color: #FFF;
    color: black;
    border: 1px solid black;
    border-radius: 5px;
    text-transform: uppercase;
    display: block;
    margin: .6rem 0;
}















.criar-conta {
    background: #F7F7F7;
    padding: 15% 5%;
    height: 90vh;
}
.criar-conta__title {
    font-weight: 500;
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 2rem;
}
.criar-conta__form {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}
/*
.criar-conta__label {
    useless
}
*/
.criar-conta__input {
    background: #E4E4E4;
    color: #484848;
    padding: .8rem 1rem;
    width: 100%;
    border: none;
    border-radius: 5px;
    margin: .5rem 0;
}

.criar-conta__termos {
    margin: .5rem 0 1.5rem;
}
/*
.criar-conta__checkbox {
    useless
}
*/
.criar-conta__label {
    font-size: .9rem;
}

.criar-conta__link-termos {
    color: gray;
}

.criar-conta__cta {
    padding: 4%;
    background-color: #98252C;
    color: white;
    border: none;
    border-radius: 5px;
    text-transform: uppercase;
    display: block;
    margin: .6rem 0;
}
.criar-conta__secondary {
    padding: 4%;
    background-color: #FFF;
    color: black;
    border: 1px solid black;
    border-radius: 5px;
    text-transform: uppercase;
    display: block;
    margin: .6rem 0;
}








.novo-sorteio {
    background: #F7F7F7;
    padding: 15% 5%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.novo-sorteio__title {
    font-weight: 500;
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
}
.novo-sorteio__subtitle {
    font-weight: 500;
    color: darkgray;
    text-align: center;
    font-size: 1.2rem;
    margin-bottom: 1rem;
}
.novo-sorteio__text {
    margin: 1rem 0;
    font-size: 1.05rem;
    text-align: center;
    line-height: 1.2;
}
.novo-sorteio__cta {
    padding: 4%;
    background-color: #98252C;
    color: white;
    border: none;
    border-radius: 5px;
    text-transform: uppercase;
    display: block;
    margin: .6rem 0;
    width: 80%;
}
.novo-sorteio__secondary {
    padding: 4%;
    background-color: #FFF;
    color: black;
    border: 1px solid black;
    border-radius: 5px;
    text-transform: uppercase;
    display: block;
    margin: .6rem 0;
    width: 80%;
}
