* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

.header {
  padding: 4% 6% 2%;
  width: 100%;
  height: 10vh;
  background-color: #fefefe;
  display: flex;
  justify-content: space-between;
}
.header__logo {
  display: flex;
  align-items: center;
  font-size: 1.6rem;
  text-decoration: none;
}
.header__icon {
  width: 2.2rem;
  margin-right: 0.4rem;
  margin-top: -8px;
}
.header__name {
  color: orange;
  font-family: "Kumar One", cursive;
}
.header__navigation {
  display: flex;
  align-items: center;
}
.header__open-menu, .header__close-menu {
  font-size: 2rem;
  font-weight: 900;
  color: #505050;
}
.header__navigation-menu {
  list-style: none;
  z-index: 99;
  position: fixed;
  top: 0;
  right: -80vw;
  width: 80vw;
  height: 100%;
  background-color: #FFF;
  transition: right 0.3s ease-out;
}
.header .active-menu {
  right: 0;
}
.header .active-menu::before {
  content: "";
  position: absolute;
  top: 0;
  right: 80vw;
  height: 100vh;
  width: 20vw;
  background: rgba(0, 0, 0, 0.6);
}
.header__menu-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5% 10%;
}
.header__menu-list {
  list-style: none;
  font-size: 1em;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.header__menu-item {
  list-style: none;
  display: block;
  width: 100%;
  text-align: left;
}
.header__menu-link {
  text-decoration: none;
  color: black;
  text-transform: uppercase;
  font-weight: 500;
  padding: 5% 10%;
  width: 100%;
  display: block;
}
.header .active-link {
  color: #FDDA36;
}

.banner {
  background: linear-gradient(295.68deg, #98252C -11.63%, #FF990D 62.37%, #FDDA36 99.32%);
  width: 100%;
  height: 40vh;
  padding: 6%;
}
.banner__title {
  color: white;
  text-align: center;
  font-weight: 500;
  margin-bottom: 2rem;
}
.banner__text {
  color: #F0F0F0;
  margin: 0 auto 2rem;
  text-align: center;
  line-height: 1.5;
  width: 80%;
}
.banner__btn {
  width: 60%;
  padding: 4%;
  background-color: #98252C;
  color: white;
  border: none;
  border-radius: 5px;
  text-transform: uppercase;
  display: block;
  margin: 0 auto;
}

.search {
  background: #F7F7F7;
  padding: 6%;
}
.search__title {
  text-align: center;
  font-weight: 500;
  margin-bottom: 1.5rem;
}
.search__text {
  margin-bottom: 1.5rem;
  text-align: center;
  line-height: 1.2;
}
.search__params {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.5rem;
}
.search__input {
  background: #E4E4E4;
  padding: 0.8rem 1rem 0.8rem 2rem;
  border: none;
  width: 80%;
  border-radius: 5px;
  color: #484848;
}
.search__filter {
  background: #E4E4E4;
  padding: 0.8rem 1rem;
  border-radius: 5px;
  color: #505050;
}
.search .results__list {
  list-style: none;
  display: flex;
  flex-direction: column;
}
.search .results__list-item {
  width: 100%;
  height: auto;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  margin-bottom: 1rem;
  background: white;
  border-radius: 5px;
}
.search .results__item-link {
  text-decoration: none;
}
.search .results__item-image {
  width: 100%;
  height: 10rem;
  border-radius: 5px 5px 0 0;
  object-fit: cover;
}
.search .results__item-description {
  padding: 3% 4%;
  color: black;
}
.search .results__item-description-head {
  font-weight: 500;
  margin-bottom: 0.5rem;
}
.search .results__item-description-body {
  color: #636363;
  margin-bottom: 0.5rem;
}
.search .results__item-description-head, .search .results__item-description-body {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.search .results__item-title {
  max-width: 80%;
}
.search__btn {
  width: 60%;
  padding: 4%;
  background-color: #98252C;
  color: white;
  border: none;
  border-radius: 5px;
  text-transform: uppercase;
  display: block;
  margin: 1.2rem auto;
}

.footer {
  background: #2B2A33;
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 0.9rem;
  height: 10vh;
}

/*# sourceMappingURL=index.css.map */
