// Corpo da página "Cadastre-se" - CRIAR UM ESTILO PADRÃO & MODIFICAR O NOME DA CLASSE
.criar-conta {
    background: radial-gradient(circle at 18.7% 37.8%, rgb(250, 250, 250) 0%, rgba(225, 234, 238, 0.4) 90%);
    padding: 15% 5%;
    min-height: 88vh;

    // Ajuste na página na versão tablet
    @include small() {
        padding: 8% 5%;
    }

    // Ajuste na página na versão desktop  
    @include medium() {
        padding: 5%;
        min-height: 78vh;
    }

    // Ajuste na página na versão desktop grande
    @include large() {
        min-height: 80vh;
    }

    // Container que engloba o formulário na versão desktop
    &__container {

        @include medium() {
            background: $white;
            max-width: 460px;
            padding: 4% 0;
            border-radius: 10px;
            box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
            margin: 0 auto;
        }
    }

    // Texto principal da página
    &__title {
        font-weight: 500;
        text-align: center;
        font-size: 1.5rem;
        margin-bottom: 2rem;
    }

    // Campo de formulário
    &__form {
        width: 80%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
    }

    // Texto de suporte para os inputs - APAGAR (ENTRAR)
    &__label {
        font-size: .9rem;
    }

    // Inputs de texto para cadastro - APAGAR (ENTRAR)
    &__input {
        width: 100%;
    }

    // Texto do campo de termos de uso
    &__termos {
        margin: .5rem 0 1.5rem;
    }
    
    //&__link-termos { }
    
    // Botão principal para realizar cadastro
    &__cta {
        // Importa o estilo padrão dos presets
        @extend %button-primary;
    }

    // Texto com link para a página entrar.html na versão desktop
    &__entrar {
        display: none;

        @include medium() {
            display: block;
            margin-top: .6rem;
            font-size: .9rem
        }
    }

    //&__entrar-link { }

    // Botão secundário que redireciona para a página entrar.html na versão mobile
    &__secondary {
        // Importa o estilo padrão dos presets
        @extend %button-secondary;

        @include medium() {
            display: none;
        }
    }

}
