.banner {
    background: linear-gradient(295.68deg, $theme-red -11.63%, $theme-orange 62.37%, $theme-yellow 99.32%);
    width: 100%;
    height: 40vh;
    padding: 6%;

    &__title {
        color: $white;
        text-align: center;
        font-weight: 500;
        margin-bottom: 2rem;
    }

    &__text {
        color: $light-text;
        margin: 0 auto 2rem;
        text-align: center;
        line-height: 1.5;
        width: 80%;
    }

    &__btn {
        @extend %button-primary;
        width: 70%;
        margin: 0 auto;
    }
}