.banner {
    //background: linear-gradient(295.68deg, $theme-red -11.63%, $theme-orange 62.37%, $theme-yellow 99.32%);
    background: radial-gradient(circle at -4% -12.9%, rgb(30, 33, 48) 0.3%, rgb(74, 98, 110) 90.2%);
    width: 100%;

    @include medium() {
    background: linear-gradient(217deg, rgba(255,0,0,.8), rgba(255,0,0,0) 70.71%),
            linear-gradient(127deg, rgba(0,255,0,.8), rgba(0,255,0,0) 70.71%),
            linear-gradient(336deg, rgba(0,0,255,.8), rgba(0,0,255,0) 70.71%);
    }

    &__mask {
        background: rgba($black, .25);
        padding: 18vh 6% 12vh;

        @include medium() {
            background: rgba($black, .1);
            padding: 25vh 6% 15vh;
        }
    }

    &__title {
        font-family: 'Ubuntu', sans-serif;
        font-size: 2.3rem;
        color: $white;
        text-align: center;
        font-weight: 500;
        margin-bottom: 2rem;
    }

    &__text {
        font-family: 'Ubuntu', sans-serif;
        font-size: 1.1rem;
        font-weight: 300;
        color: $light-text;
        margin: 0 auto 2rem;
        text-align: center;
        line-height: 1.5;
        width: 80%;
    }

    &__btn {
        @extend %button-primary;
        font-family: 'Ubuntu', sans-serif;
        width: 70%;
        max-width: 360px;
        margin: 0 auto;
    }
}