.entrar {
    background: #F7F7F7;
    padding: 15% 5%;
    height: 90vh;

    &__title {
        font-weight: 500;
        text-align: center;
        font-size: 1.5rem;
        margin-bottom: 2rem;
    }

    &__form {
        width: 80%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
    }

    //&__label {
    //    useless
    //}

    &__input {
        background: #E4E4E4;
        color: #484848;
        padding: .8rem 1rem;
        width: 100%;
        border: none;
        border-radius: 5px;
        margin: .5rem 0;
    }

    &__nova-senha {
        margin-top: .5rem;
        color: gray;
        margin-bottom: 2rem;
        font-size: .9rem;
    }

    &__cta {
        padding: 4%;
        background-color: #98252C;
        color: white;
        border: none;
        border-radius: 5px;
        text-transform: uppercase;
        display: block;
        margin: .6rem 0;
    }

    &__secondary {
        padding: 4%;
        background-color: #FFF;
        color: black;
        border: 1px solid black;
        border-radius: 5px;
        text-transform: uppercase;
        display: block;
        margin: .6rem 0;
    }

}
