// PRECISA ADICIONAR COMENTÁRIOS

.header {
    padding: 4% 6%;
    width: 100%;
    height: 12vh;
    background: transparent;
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    transition: .25s ease;

    @include medium() {
        background: rgba(255, 255, 255, 0.6);
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
    }

    @include large() {
        height: 10vh;
        padding: 3.4% 6%;
    }

    &-white {
        background: $white !important;
        box-shadow: 0 6px 10px rgba($black, 0.1);
    }

    &__logo {
        display: flex;
        align-items: center;
        font-size: 1.6rem;
        text-decoration: none;
        margin-top: .4rem;

        @include medium() {
            margin-top: .2rem;
            margin-right: 3rem;
        }
    }

    &__icon {
        width: 2.2rem;
        margin-right: .4rem;
        margin-top: -8px;
    }

    &__name {
        color: $theme-orange;
        font-family: 'Kumar One', cursive;
        // background: -webkit-linear-gradient($theme-yellow, $theme-orange);
        // background-clip: text;
        // -webkit-text-fill-color: transparent;
    }

    &__navigation {
        display: flex;
        align-items: center;

        @include medium() {
            width: 70%;
            height: auto;
        }
    }

    &__open-menu {
        color: $theme-yellow;

        @include medium() {
            display: none !important;
        }
    }

    &__navigation-menu {
        list-style: none;
        z-index: 99;
        position: fixed;
        top: 0;
        right: -80vw;
        width: 80vw;
        height: 100%;
        background-color: $white;
        transition: right 0.3s ease-out;

        @include small() {
            right: -70vw;
            width: 70vw;
        }

        @include medium() {
            position: static;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            background: transparent;
            width: 100%;
        }

        @include large() {
            width: 70vw;
        }

    }

    .active-menu {
        right: 0;

        &::before {
            content: "";
            position: absolute;
            top: 0;
            right: 80vw;
            height: 100vh;
            width: 20vw;
            background: rgba($black, .6);

            @include small() {
                right: 70vw;
                width: 30vw;
            }

            @include medium() {
                display: none;
            }
        }
    }

    &__menu-head {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 5% 10%;

        @include medium() {
            display: none;
        }
    }

    //&__close-menu {
    //    useless
    //}

    &__search {

        @include medium() {
            width: 80%;
            display: flex;
            justify-content: flex-end;
            align-items: center;
        }

        @include large() {
            width: 90%;
        }
    }

    &__search-icon {
        display: none !important;

        @include medium() {
            display: block !important;
            font-size: 1.4rem;
            width: 1.4rem;
            cursor: pointer;
            //background: rgba($white, 0.4);
            //border: 1px solid lighten($darker-medium-gray, 10%);
            padding: .5rem 2rem .5rem .8rem;
            border-radius: 0 3px 3px 0;
        }

        @include large() {
            padding: .51rem 2rem .51rem .8rem;
        }
    }

    &__search-input {
        width: 100%;
        padding: 1.2rem 10%;
        border: none;
        outline: none;
        transition: .2s ease;
        border-bottom: 1px solid $medium-gray;

        &:focus {
            background: $light-text;
        }

        @include medium() {
            display: none;
            padding: .6rem 1.2rem;
            border-radius: 3px 0 0 3px;
        }
    }

    .block {
        display: block;

        @include medium() {
            background: rgba($white, 0.4);
            border-top: 1px solid lighten($darker-medium-gray, 10%);
            border-bottom: 1px solid lighten($darker-medium-gray, 10%);
            border-left: 1px solid lighten($darker-medium-gray, 10%);
            animation: inputin 1s;
        }
    }

    .none {
        display: block;

        @include medium() {
            display: none;
        }
    }

    @keyframes inputin {
        0% {width: 0;}
        100% {width: 100%;}
    }

    @keyframes inputout {
        0% {display: block;}
        100% {display: none;}
    }

    .no-search {
        
        @include medium() {
            display: none;
        }
    }

    &__menu-list {
        list-style: none;
        font-size: 1em;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        @include medium() {
            flex-flow: row;
            width: 25rem;
            margin-left: 1.8rem;
            justify-content: space-between;
        }

        @include large() {
            margin-left: 2.6rem;
        }
    }
    
    &__menu-list-no-search {
        @extend .header__menu-list;

        @include medium() {
            width: 15rem;
        }
    }

    &__menu-item {
        list-style: none;
        display: block;
        width: 100%;
        text-align: left;

        @include medium() {
            display: flex;
            justify-content: flex-start;
            width: 45%;
            font-size: .9rem;

            &:first-child {
                display: none;
            }
        }

        @include large() {
            font-size: 1rem;
        }

    }

    &__menu-link {
        text-decoration: none;
        color: $black;
        font-weight: 500;
        padding: 5% 10%;
        width: 100%;
        display: block;

        @include medium() {
            text-align: center;
            padding: 10% 3%;

            &:hover {
                border-bottom: 2px solid $theme-yellow;
            }
        }
    }

    &__menu-link--entrar {
        @extend .header__menu-link;

        @include medium() {
            background-color: $theme-yellow;
            border-radius: 5px;
    
            &:hover {
                border-bottom: none;
                background-color: darken($theme-yellow, 10%);
            }
        }
    }

    .active-link {
        color: $theme-yellow;
    }

    .active-entrar {
        color: $theme-yellow;

        @include medium() {
            background-color: white;
            border: 2px solid $theme-yellow;
            padding: 8%;
            border-radius: 5px;
        }
    }
}