
/// COLORS
$black: #000000;
$dark-blue: #2B2A33;
$dark-gray: #505050;
$light-text: #F0F0F0;
$page-bg: #F7F7F7;
$theme-red: #98252C;
$theme-yellow: #FDDA36;
$theme-orange: #FF990D;
$white: #FFFFFF;
$medium-gray: #E4E4E4;
$darker-medium-gray: #636363;

/// RESPONSIVE
$small: 576px;
$medium: 768px;
$large: 992px;
$extra-large: 1200px;
$ultra-large: 1400px;

@mixin small {
    @media (min-width: $small) { 
        @content;
    }
}
@mixin medium {
    @media (min-width: $medium) { 
        @content;
    }
}
@mixin large {
    @media (min-width: $large) { 
        @content;
    }
}
@mixin extra-large {
    @media (min-width: $extra-large) { 
        @content;
    }
}
@mixin ultra-large {
    @media (min-width: $ultra-large) { 
        @content;
    }
}

/// PLACEHOLDERS
%icons {
    font-size: 2rem;
    font-weight: 900;
    color: $dark-gray;
}

%links {
    color: $darker-medium-gray;
    text-decoration: underline;
}

%input-field {
    background: $medium-gray;
    color: $dark-gray;
    padding: .8rem 1rem;
    border: none;
    border-radius: 5px;
    margin: .5rem 0;
    display: block;
}

%button-primary {
    padding: .9rem;
    background-color: $theme-red;
    max-width: 350px;
    color: $white;
    border: none;
    border-radius: 5px;
    text-transform: uppercase;
    display: block;
    margin: .6rem 0;
}

%button-secondary {
    background-color: $white;
    color: $black;
    border: 1px solid $black;
    max-width: 350px;
    padding: .9rem;
    border-radius: 5px;
    text-transform: uppercase;
    display: block;
    margin: .6rem 0;
}

%item-description {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

