.search {
    background: $page-bg;
    padding: 6%;

    @include large() {
        padding-top: 3%;
    }

    &__title {
        text-align: center;
        font-weight: 500;
        margin-bottom: 1.5rem;
    }

    &__text {
        margin-bottom: 1.5rem;
        text-align: center;
        line-height: 1.2;
    }

    &__params {
        display: flex;
        justify-content: space-between;
        margin-bottom: 1.5rem;

        @include medium() {
            margin-bottom: 2.5rem;
        }
    }

    &__input {
        background: $medium-gray;
        padding: .8rem 1rem .8rem 2rem;
        border: none;
        width: 80%;
        border-radius: 5px;
        color: $dark-gray;

        @include small() {
            width: 85%;
        }

        @include medium() {
            width: 90%;
        }

        @include large() {
            width: 92%;
        }
    }

    &__filter {
        font-size: 1rem;
        background: $medium-gray;
        padding: .8rem 1rem;
        border-radius: 5px;

        @include large() {
            cursor: pointer;
        }
    }


    .results {
        //nothing
        
        &__list {
            list-style: none;
            display: flex;
            flex-direction: column;
            margin-bottom: 1rem;

            @include small() {
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: space-between;
            }
        }

        &__list-item {
            width: 100%;
            height: auto;
            box-shadow: 0 0 5px rgba($black, .2);
            margin-bottom: 1rem;
            background: $white;
            border-radius: 5px;

            @include small() {
                width: 48%;
            }

            @include large() {
                width: 32%;
            }

            @include extra-large() {
                width: 24%;
            }
        }

        &__item-link {
            text-decoration: none;
        }

        &__item-image {
            width: 100%;
            height: 10rem;
            border-radius: 5px 5px 0 0;
            object-fit: cover;
        }

        &__item-description {
            padding: 3% 4%;
            color: $black;
        }

        &__item-description-head {
            @extend %item-description;
            font-weight: 500;
            margin-bottom: .5rem;

            @include medium() {
                font-size: .9rem;
            }

            @include large() {
                font-size: .8rem;
            }
        }

        &__item-description-body {
            @extend %item-description;
            color: $darker-medium-gray;
            margin-bottom: .5rem;

            @include medium() {
                font-size: .9rem;
            }

            @include large() {
                font-size: .8rem;
            }
        }

        &__item-title {
            max-width: 80%;
        }

        
        //&__item-price {
        //    useless
        //}

        //&__item-author {
        //    useless
        //}

        //&__item-expiration {
        //    useless
        //}
    }

    &__btn {
        @extend %button-primary;
        width: 60%;
        margin: auto;
    }

}
